extends ./layout

block content
  header  
    h1= "Library"
    p
      a.button(href="/books/new") Create New Book
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        tr
        each book in books
          book
            td 
              a(href="/books/" + book.id, class="btn-new") #{book.title}
            td=book.author 
            td=book.genre
            td=book.year
          tr
        

   
    
    
        
          